.input {
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
}

.inputError {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}